@mixin m-custom-scrollbar {
    --sb-track-color: #e3e3e3;
    --sb-thumb-color: #bbbbbb;
    --sb-thumb-color-hover: #aaa;
    --sb-size: 8px;
    --sb-border-radius: 6px;

    &::-webkit-scrollbar {
        width: var(--sb-size);
        height: var(--sb-size);
    }
    
    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: var(--sb-border-radius);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: var(--sb-border-radius);
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: var(--sb-thumb-color-hover);
    }
    
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.custom-scrollbar {
    @include m-custom-scrollbar;
    * {
        @include m-custom-scrollbar;
    }
}
